.navbar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 70px;
    display: flex;
    position: fixed;
    background: var(--brand_bg);
}

.navbar>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar img {
    height: 70px;
}

.searchbar {
    gap: 6px;
    background: #81878C;
    display: flex;
    align-items: center;
    padding: 5px 12px 5px 12px;
    width: 320px;
    border-radius: 10px;
}

.navbar input {
    border: none;
    background: none;
    width: 100%;
    color: white;
}

.navbar input::placeholder {
    color: white;
}

.navbar input:focus {
    outline: none;
}

.navbar button {
    height: 40px;
}

.navitems {
    color: white;
    display: flex;
    align-items: center;
    gap: 80px;
    position: relative;
}

.navitems>p {
    cursor: pointer;
    user-select: none;
}

.gateway {
    background: #FDECEC;
    color: #F05656;
    font-weight: 500;
    padding: 8px 10px 8px 10px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.circle {
    height: 12px;
    width: 12px;
    background: #F05656;
    border-radius: 50%;
}

.dropdown {
    position: absolute;
    min-width: 50vw;
    top: 70px;
    right: 200px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 50px;
    color: black;
    gap: 80px;
    -webkit-animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.dropdown>div {
    width: 100%;
}

.head {
    color: #28B570;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}